<ion-view view-title="社区">
<!---
<ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-search"></button>
</ion-nav-buttons>
--->
<div  class="tabs tabs-icon-left tabs-color-active-positive">
    <a class="tab-item" href="#/posting">
        <i class="icon ion-android-create" ></i>
        发表话题
    </a>
</div>

<ion-content>
    <div class="row">
        <div class="col col-10">
            <a ng-click = "getNode(0)"><i style="font-size:18px; background:{{nodeInfo[0].bgcolor}}" class="icon ion-ios-home"></i></a>
        </div>
        <div class="col">
            <a ng-click = "getNode(1)"><i style="font-size:15px; background:{{nodeInfo[1].bgcolor}}">官方活动</i></a>
        </div>
        <div class="col">
            <a ng-click = "getNode(2)"><i style="font-size:15px; background:{{nodeInfo[2].bgcolor}}">技术达人</i></a>
        </div>
        <div class="col">
            <a ng-click = "getNode(3)"><i style="font-size:15px; background:{{nodeInfo[3].bgcolor}}">业界动态</i></a>
        </div>
        <div class="col">
            <a ng-click = "getNode(4)"><i style="font-size:15px; background:{{nodeInfo[4].bgcolor}}">我要吐槽</i></a>
        </div>
    </div>

    <ion-list>
        <a class="item item-avatar" ng-repeat="topic in topics" ng-click="gotoTopic(topic.id)">
            <img ng-src={{topic.user_avatar}} ></img>
            <h2 style="overflow : hidden;
                text-overflow: ellipsis;
                  display: -webkit-box;
                    -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;"
                      >{{topic.title}}</h2>
            <div class="row">
                <div class="col col-40">
                    <p><font >{{topic.user_name}}</font></p>
                </div>
                <div class="col col-offset-40">
                    <i style="font-size:12px; color:#aaaaaa" class="icon ion-ios-eye-outline"> {{topic.view_count}}</i> <i style="font-size:12px; color:#999999" class="icon ion-ios-chatbubble-outline"> {{topic.reply_count}} </i>
                </div>
            </div>
        </a>
    </ion-list>
</ion-content>

</ion-view>

